html, body {
  margin: 0;
  padding: 0;
  background-color: #C7B198;
}
h1{
  font-family: fantasy;
  text-align: center;
}
canvas {
  display: block;
}
button {
  background-color: #A68DAD;
}
p {
  font-family: cursive;
}