html, body {
  margin: 0;
  padding: 0;
  background-color: #9D9D9D;
}
.webvr-ui-button {
  display: block;
}
h1{
  font-family: fantasy;
  font-size: 64px;
  text-align: center;
  display: block;
}
h2 {
  font-weight: bold;
  text-align: center;
}
p, h2 {
  font-family: cursive;
  font-size: 50px;
}
canvas {
  display: block;
}